<h1 align="center" class="display-4 mb-5">My Cart</h1>

<!--Cart Detail Table-->
<table class="table table-striped text-center">
    <thead>
    <tr>
        <th scope="col">Photo</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Subtotal</th>
        <th scope="col">Action</th>

    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let productInOrder of productInOrders">
        <th class="align-middle" scope="row">
            <a routerLink="/product/{{productInOrder.productId}}"><img height="100px"
                                                                       src="{{productInOrder.productIcon}}"
                                                                       alt="{{productInOrder.productName}}"></a>
        </th>
        <td class="align-middle"><a
                routerLink="/product/{{productInOrder.productId}}">{{productInOrder.productName}}</a></td>
        <td class="align-middle">{{productInOrder.productPrice | currency}}</td>

        <td class="align-middle">
            <a (click)="minusOne(productInOrder)"><i class="fa fa-minus"></i></a>
            <input min="1" id="{{productInOrder.productId}}"
                   [max]=productInOrder.productStock
                   [(ngModel)]="productInOrder.count"
                   (change)="onChange(productInOrder)"
                   size="5"
                   type="number"
                   required
                   name='count'>
            <a (click)="addOne(productInOrder)"> <i class="fa fa-plus"></i></a>
        </td>

        <td class="align-middle">{{productInOrder.productPrice * productInOrder.count|currency}}</td>
        <td class="align-middle">
            <a (click)="remove(productInOrder)" routerLink="./">Remove</a>
        </td>

    </tr>

    </tbody>
</table>

<div *ngIf="productInOrders?.length > 0; else empty">
    <h5 style="display: inline;">Total: {{total | currency}}</h5>
    <button (click)="checkout()" class="btn btn-warning float-right">Checkout</button>
</div>
<ng-template #empty>
    <h4 class="text-muted text-center">Cart is empty. Go to get something! :)</h4>
</ng-template>



<div class="shopping-cart section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Shopping Summery -->
        <table class="table shopping-summery">
          <thead>
          <tr class="main-hading">
            <th>PRODUCT</th>
            <th>NAME</th>
            <th class="text-center">UNIT PRICE</th>
            <th class="text-center">QUANTITY</th>
            <th class="text-center">TOTAL</th>
            <th class="text-center"><i class="ti-trash remove-icon"></i></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="image" data-title="No"><img src="assets/images/product-1.jpg" alt="#"></td>
            <td class="product-des" data-title="Description">
              <p class="product-name"><a href="#">Women Dress</a></p>
              <p class="product-des">Maboriosam in a tonto nesciung eget  distingy magndapibus.</p>
            </td>
            <td class="price" data-title="Price"><span>$110.00 </span></td>
            <td class="qty" data-title="Qty"><!-- Input Order -->
              <div class="input-group">
                <div class="button minus">
                  <button type="button" class="btn btn-primary btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                    <i class="ti-minus"></i>
                  </button>
                </div>
                <input type="text" name="quant[1]" class="input-number"  data-min="1" data-max="100" value="1">
                <div class="button plus">
                  <button type="button" class="btn btn-primary btn-number" data-type="plus" data-field="quant[1]">
                    <i class="ti-plus"></i>
                  </button>
                </div>
              </div>
              <!--/ End Input Order -->
            </td>
            <td class="total-amount" data-title="Total"><span>$220.88</span></td>
            <td class="action" data-title="Remove"><a href="#"><i class="ti-trash remove-icon"></i></a></td>
          </tr>
          <tr>
            <td class="image" data-title="No"><img src="assets/images/product-2.jpg" alt="#"></td>
            <td class="product-des" data-title="Description">
              <p class="product-name"><a href="#">Women Dress</a></p>
              <p class="product-des">Maboriosam in a tonto nesciung eget  distingy magndapibus.</p>
            </td>
            <td class="price" data-title="Price"><span>$110.00 </span></td>
            <td class="qty" data-title="Qty"><!-- Input Order -->
              <div class="input-group">
                <div class="button minus">
                  <button type="button" class="btn btn-primary btn-number" disabled="disabled" data-type="minus" data-field="quant[2]">
                    <i class="ti-minus"></i>
                  </button>
                </div>
                <input type="text" name="quant[2]" class="input-number"  data-min="1" data-max="100" value="2">
                <div class="button plus">
                  <button type="button" class="btn btn-primary btn-number" data-type="plus" data-field="quant[2]">
                    <i class="ti-plus"></i>
                  </button>
                </div>
              </div>
              <!--/ End Input Order -->
            </td>
            <td class="total-amount" data-title="Total"><span>$220.88</span></td>
            <td class="action" data-title="Remove"><a href="#"><i class="ti-trash remove-icon"></i></a></td>
          </tr>
          <tr>
            <td class="image" data-title="No"><img src="assets/images/product-1.jpg" alt="#"></td>
            <td class="product-des" data-title="Description">
              <p class="product-name"><a href="#">Women Dress</a></p>
              <p class="product-des">Maboriosam in a tonto nesciung eget  distingy magndapibus.</p>
            </td>
            <td class="price" data-title="Price"><span>$110.00 </span></td>
            <td class="qty" data-title="Qty"><!-- Input Order -->
              <div class="input-group">
                <div class="button minus">
                  <button type="button" class="btn btn-primary btn-number" disabled="disabled" data-type="minus" data-field="quant[3]">
                    <i class="ti-minus"></i>
                  </button>
                </div>
                <input type="text" name="quant[3]" class="input-number"  data-min="1" data-max="100" value="3">
                <div class="button plus">
                  <button type="button" class="btn btn-primary btn-number" data-type="plus" data-field="quant[3]">
                    <i class="ti-plus"></i>
                  </button>
                </div>
              </div>
              <!--/ End Input Order -->
            </td>
            <td class="total-amount" data-title="Total"><span>$220.88</span></td>
            <td class="action" data-title="Remove"><a href="#"><i class="ti-trash remove-icon"></i></a></td>
          </tr>
          </tbody>
        </table>
        <!--/ End Shopping Summery -->
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <!-- Total Amount -->
        <div class="total-amount">
          <div class="row">
            <div class="col-lg-8 col-md-5 col-12">
              <div class="left">
                <div class="coupon">
                  <form action="#" target="_blank">
                    <input name="Coupon" placeholder="Enter Your Coupon">
                    <button class="btn" type="button">Apply</button>
                  </form>
                </div>

              </div>
            </div>
            <div class="col-lg-4 col-md-7 col-12">
              <div class="right">
                <ul>
                  <li>Cart Subtotal<span>$330.00</span></li>
                  <li>Shipping<span>Free</span></li>
                  <li>You Save<span>$20.00</span></li>
                  <li class="last">You Pay<span>$310.00</span></li>
                </ul>
                <div class="button5">
                  <a href="#" class="btn">Checkout</a>
                  <a href="#" class="btn">Continue shopping</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/ End Total Amount -->
      </div>
    </div>
  </div>
</div>
<!--/ End Shopping Cart -->

